<head>
    <% include ./navbar.ejs%>
    <link rel="stylesheet" type="text/css" href="/style/books.css">
</head>

<body>
    <form action="/admin/sale/1" method="post" style="margin:10px 0 20px 10%">
        Ngày bắt đầu: 
        <input type="date" name="startDay" value="<%=startDay%>">
        Ngày kết thúc:
        <input type="date" name="endDay" value="<%=endDay%>">
        <button class="admin-btn green" style="margin: 0px 0 0 10px" type="submit">Xem</button>
    </form>
    <table class="books-table" style="margin-top: 20px;">
        <tr>
            <th>ID</th>
            <th>Tên sách</th>
            <th>Số lượng bán ra</th>
            <th>Doanh thu</th>
            <th>Số lượng còn</th>
            <th> </th>
        </tr>
       
        <% var n = data.length; %>
        <% var maxpage = Math.ceil(n/20); %>
        <% if(pages > maxpage) pages = maxpage; %>
        <% if(pages == 0) pages = 1; %>
        <% var start = (pages - 1) * 20; %>
        <% var end = Math.min(start + 20, n) %>

        <% for (var i = start ; i < end ; i++) { %>
            <tr>
                <td><%= data[i].BookID%></td>
                <td><%= data[i].BookName%></td>
                <td><%= data[i].counter%></td>
                <td><%= data[i].counter * data[i].Price%>$</td>
                <td><%= data[i].Amount%></td>
                <td>
                    <form action="/admin/books/details/<%= data[i].BookID%>" method="get">
                        <button class="btn admin-btn green" type="submit">Sửa</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <div id="pagination">
      <% if(parseInt(pages) - 2 > 0){ %>
        <form action="/admin/sale/<%= parseInt(pages) - 2 %>" method="post">
            <input class="hidden" type="date" name="startDay" value="<%=startDay%>">
            <input class="hidden" type="date" name="endDay" value="<%=endDay%>">
            <button class="btnLikeA" type="submit"><%= parseInt(pages) - 2 %></button>
        </form>
      <% } %>
      <% if(parseInt(pages) - 1 > 0){ %>
        <form action="/admin/sale/<%= parseInt(pages) - 1 %>" method="post">
            <input class="hidden" type="date" name="startDay" value="<%=startDay%>">
            <input class="hidden" type="date" name="endDay" value="<%=endDay%>">
            <button class="btnLikeA" type="submit"><%= parseInt(pages) - 1 %></button>
        </form>
      <% } %>
      <form action="/admin/sale/<%= parseInt(pages)%>" method="post">
            <input class="hidden" type="date" name="startDay" value="<%=startDay%>">
            <input class="hidden" type="date" name="endDay" value="<%=endDay%>">
            <button class="btnLikeA curpage" type="submit"><%= parseInt(pages)%></button>
        </form>
      <% if(parseInt(pages) + 1 <= maxpage){ %>
        <form action="/admin/sale/<%= parseInt(pages) + 1 %>" method="post">
            <input class="hidden" type="date" name="startDay" value="<%=startDay%>">
            <input class="hidden" type="date" name="endDay" value="<%=endDay%>">
            <button class="btnLikeA" type="submit"><%= parseInt(pages) + 1 %></button>
        </form>
      <% } %>
      <% if(parseInt(pages) + 2 <= maxpage){ %>
        <form action="/admin/sale/<%= parseInt(pages) + 2 %>" method="post">
            <input class="hidden" type="date" name="startDay" value="<%=startDay%>">
            <input class="hidden" type="date" name="endDay" value="<%=endDay%>">
            <button class="btnLikeA" type="submit"><%= parseInt(pages) + 2 %></button>
        </form>
      <% } %>
    </div>

</body>