<head>
    <link rel="stylesheet" type="text/css" href="style/hp.css">
    <% include ./layout/header.ejs%>
</head>

<body>
    <div class = "hp-grid">
        <div> </div>
        <div>
          <div class = "cateTitle">Thể loại</div>
          <% cate.forEach(function(item){ %>
            <a class = "category" href="/cate/<%= item.CateID %>/1" ><%= item.CateName%></a>
          <% })%>
        </div>

        <div class = "hp-book-grid">
            <% var n = data.length %>
            <% var maxpage = Math.ceil(n/9) %>
            <% if(pages > maxpage) pages = maxpage %>
            <% if(pages == 0) pages = 1 %>
            <% var start = (pages - 1) * 9 %>
            <% var end = Math.min(start + 9, n) %>
            <% for (var i = start ; i < end ; i++) { %>
            <a class = "hp-book" href="/books/<%= data[i].BookID %>">
                <img class="hp-img" src="<%= data[i].BookID %>.png">
      
              <div>
                  <div class="hp-book-name"> <%= data[i].BookName %></div>
                  <div class="hp-author"> <%= data[i].Author %> </div>
                  <div class="hp-price"> <%= data[i].Price %>$</div>
                  <div class="hp-describe"> <%= data[i].DescribeBook %></div>
              </div>
            </a>
        <% } %>
      </div>
    </div>

    
    <div id="pagination">
        <form class="formInline" action="/search/<%= parseInt(pages) - 1 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay2"><img src="/icon/back-arrow.svg"> </button>
        </form>
      <% if(parseInt(pages) - 2 > 0){ %>
        <form class="formInline" action="/search/<%= parseInt(pages) - 2 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay"><%= parseInt(pages) - 2 %></button>
        </form>
      <% } %>
      <% if(parseInt(pages) - 1 > 0){ %>
        <form class="formInline" action="/search/<%= parseInt(pages) - 1 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay"><%= parseInt(pages) - 1 %></button>
        </form>
      <% } %>
      <form class="formInline" action="/search/<%= parseInt(pages) %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="curpage"><%= parseInt(pages) %></button>
        </form>
      <% if(parseInt(pages) + 1 <= maxpage){ %>
        <form class="formInline" action="/search/<%= parseInt(pages) + 1 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay"><%= parseInt(pages) + 1 %></button>
        </form>
      <% } %>
      <% if(parseInt(pages) + 2 <= maxpage){ %>
        <form class="formInline" action="/search/<%= parseInt(pages) + 2 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay"><%= parseInt(pages) + 2 %></button>
        </form>
      <% } %>
      <form class="formInline" action="/search/<%= parseInt(pages) + 1 %>" method="post">
            <input class="hidden" value="<%=search%>" name="search"/>
            <button type="submit" class="nonedisplay2"><img src="/icon/next-arrow.svg"></button>
        </form>
    </div>
    
</body>